.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
.idea/
android/bin/
example/.flutter-plugins-dependencies
example/.flutter-plugins
example/lib/generated_plugin_registrant.dart
example/ios/Flutter/flutter_export_environment.sh
